    /* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #FFFFFF;
    text-decoration: none;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style-type: none;
}

/* COMMON */
.bg-white {
    background-color: #ffffff;
}

.bg-grey {
    background-color: #d3d3d3;
}

.bg-black {
    background-color: #000000;
}

.white-button {
    background-color: #FFFFFF;
    border-radius: 20px;
    color: #000000;
    padding: 12px;
}

.black-button {
    background-color: #000000;
    border-radius: 20px;
    color: #FFFFFF;
    padding: 12px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;

    /* debug */
    height: 200px;
}

.container {
    margin-top: 10px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    
    /* debug */
    /* background-color: pink; */
}

.display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HEADER */

header {
    height: 80px;
    background-color: #255fe9;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    margin-top: 10px;
}

.navbar-left,
.navbar-center,
.navbar-right {
    padding: 5px;
    
    /* debug */
    /* background-color: #daa51f; */
    /* border: 1px dashed #000000; */
}

.navbar-left, 
.navbar-right{
    width: 25%;
}

.navbar-right {
    text-align: end;
}

.navbar-center {
    flex-grow: 1;
    text-align: center;
    color: #FFFFFF;
}

.navbar-center > ul {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 15px;
    padding: 10px;
}

/* MAIN */

.pink-container {
    width: 30%;
    background-color: #ffc0cb;
    border: 1px dashed #000000;
    
    /* debug */
    height: 100px;
}

.blue-container {
    width: 70%;
    background-color: #1d90ff;
    border: 1px dashed #000000;

    /* debug */
    height: 100px;
}

.darkgreen-container {
    width: 100%;
    background-color: #228b22;
    border: 1px dashed #000000;

    /* debug */
    height: 100px;
}

.banner {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    min-height: 20%;
    padding: 10px 15%;
}

.violet-box {
    min-height: 500px;
    text-align: center;
    
    /* debug */
    /* min-height: 250px; */
    /* background-color: #ee82ef;
    border: 1px dashed #000000; */
}

.top {
    height: 300px;
    padding: 20px;
    line-height: 2.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.download {
    gap: 20px;
}

/* FOOTER */
.coral-container {
    width: 40%;
    background-color: #f08081;
    border: 1px dashed #000000;

    /* debug */
    height: 100px;
}

.green-container {
    width: 15%;
    background-color: #20b3aa;
    border: 1px dashed #FFFFFF;

    /* debug */
    height: 100px;
}

.lightgreen-container {
    width: 100%;
    background-color: #7ffdd4;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* debug */
    height: 50px;
}

.footer-logo {
    background-color: #ffb6c1;
    border: 1px dashed #000000;
    padding: 5px;
}

.footer-button {
    background-color: #ffb6c1;
    border: 1px dashed #000000;
    padding: 5px;

}

footer > section {
    border-bottom: 1px solid #FFFFFF;
}

